.addIcon{
    font-size: 30px;
}

.dpstyle{
    padding-left:5px;
    padding-right:2px;
    
}

.btnSearch{
    width:100%;
}

.btnBack{
    background-color:lightgrey;
}

.alignRight{
    text-align: right;
}