<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Sale
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="btnCheckoutClick()">
        Checkout
      </button>
      <button ion-button>
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-row>
    <ion-searchbar block [showCancelButton]="shouldShowCancel" [(ngModel)]="searchQuery" (ionInput)="searchItems($event)"> </ion-searchbar>

    <!-- The list shown as search bar-->
    <ion-list>
      <ion-item text-wrap *ngFor="let item of items; let i = index" (click)="selectItem(i)">
        <ion-row>
          <ion-col col-4>
            <img src="../assets/imgs/drink.jpg" class="itemImg">
          </ion-col>
          <ion-col col-8>
            <p>
              {{item.title}}
            </p>
            <p>
              Short detail of {{item.title}}
            </p>
          </ion-col>
        </ion-row>
        <div class="item-note" item-end>
          Price: ${{item.price}}
        </div>
      </ion-item>
    </ion-list>

  </ion-row>

  <ion-row>
    <ion-col col-8>
      <ion-input type="text" placeholder="Scan Barcode"></ion-input>
    </ion-col>

    <ion-col col-4>
      <ion-buttons>
        <button ion-button icon-only class="btnWidth" style="margin-top:4px;background-color:darkcyan" (click)="scanClick()">
          <p>Scan</p>
        </button>
      </ion-buttons>
    </ion-col>
  </ion-row>

  <!-- <button ion-button round outline (click)="openModalCustomers()" color="darkcyan" style="color:darkcyan !important">Add Customer</button> -->


  <ion-row>
    <ion-col col-6>
      <button ion-button round (click)="btnAddCustomerClick()" style="background-color:darkcyan !important;color:white">Add Customer</button>
    </ion-col>

    <ion-col col-6 style="text-align:right;padding-top:6%;">
      {{customer}}
    </ion-col>
  </ion-row>


  <ion-list>
    <ion-item>
      <!-- Heading div start -->
      <div id="itemHead" style="color:darkcyan;">
        <ion-row>
          <ion-col col-5>
            <h2 style="float: left;">Item</h2>
          </ion-col>
          <ion-col col-1>
          </ion-col>
          <ion-col col-2 style="text-align: right;">
            <h2>Qty</h2>
          </ion-col>
          <ion-col col-1>
          </ion-col>
          <ion-col col-3 style="text-align: right;">
            <h2>Price</h2>
          </ion-col>
        </ion-row>
      </div>
      <!-- Heading div end -->

      <div id="orderDetail">

        <div *ngFor="let orderDetailItem of orderDetailItems; let j = index">

          <ion-row text-wrap>
            <ion-col col-5>
              <h3 style="float: left;">{{orderDetailItem.itemName}}</h3>
            </ion-col>
            <ion-col col-1>
              <button class="button button-sm" (click)="decreaseQuantity(j)" style="background-color:transparent;vertical-align:top;padding-left:7px !important;;">
                <ion-icon name="remove-circle"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-2>
              <p (click)="editQuantity(j, orderDetailItem.qty, orderDetailItem.unitprice)" style="text-align:right;">{{orderDetailItem.qty}}</p>
            </ion-col>
            <ion-col col-1>
              <button class="button button-sm icon1BtnCustom" (click)="increaseQuantity(j)">
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </ion-col>

            <ion-col col-3>
              <p style="text-align:right;">${{orderDetailItem.price}}</p>
            </ion-col>

          </ion-row>
          <hr>
        </div>
      </div>
      
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- <button ion-button icon-end block>
      Get A Price
      <ion-icon name="arrow"></ion-icon>
    </button> -->
    <ion-list>
      <ion-item>
        <!-- <div id="itemHead" style="bottom:0px; width:100%; margin-bottom:10%; background-color:#32DB64;color:white"> -->
        <div id="itemHead" style="bottom:0px; width:100%; margin-bottom:10%; background-color:darkcyan;color:white">
          <ion-row>
            <ion-col col-6>
              <h5>Total</h5>
            </ion-col>
            <ion-col col-2>
              <h5 style="text-align: center;">{{totalItems}}</h5>
            </ion-col>
            <ion-col col-3>
              <h5 style="text-align: right;">${{totalBill}}</h5>
            </ion-col>
            <ion-col col-1></ion-col>
          </ion-row>
        </div>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-footer>
