.btnWidth{
    width: 100%
}

#itemDetail button,
#itemDetail p {
    display: inline;
}

.icon1BtnCustom{
    background-color:transparent;
    vertical-align:top;
    padding-left:2px !important;
}

.icon2BtnCustom{
    background-color:transparent;
    vertical-align:top;
    padding-left:7px !important;
}


