<ion-header>
  <ion-navbar>
    <ion-title>pastpurchases</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!-- <ion-item *ngFor="let item of listPurchases">
      {{ index+1 }} -
      <h2> {{ item.?ProductName }} </h2>
      <p>
        <b>PD: </b> {{ item.?PurchaseDate | date: 'MM/dd/yyyy' }}
        <b>PA: </b> {{ item.?Price }}
        <b>QTY: </b> {{ item.?Quantity }} </p>
    </ion-item> -->
  </ion-list>

  <ion-list>
    <button ion-item *ngFor="let item of listPurchases; let i = index">
      <!-- let i = index;  -->
      <h2>{{i+1}} - {{ item?.ProductName }} </h2>
      <p>
        <b>PD: </b> {{ item?.PurchaseDate | date: 'MM/dd/yyyy' }}
        <b>PA: </b> ${{ item?.Price }}
        <b>QTY: </b> {{ item?.Quantity }} </p>
    </button>

    <!-- hard coded list for demo -->
    <button ion-item>
      <h2>1 - Blueberry | Eights </h2>
      <p>
        <b>PD: </b> 06/02/2018
        <b>PA: </b> $65.48
        <b>QTY: </b> 52 </p>
    </button>

    <button ion-item>
      <h2>2 - Harmony Live Nectar 1g</h2>
      <p>
        <b>PD: </b> 06/03/2018
        <b>PA: </b> $75
        <b>QTY: </b> 13 </p>
    </button>

    <button ion-item>
      <h2>3 - Loud Labs Pyramid Disposable Indica 150mg</h2>
      <p>
        <b>PD: </b> 06/04/2018
        <b>PA: </b> $20
        <b>QTY: </b> 13 </p>
    </button>

    <button ion-item>
      <h2>4 - Loud Labs Pyramid Disposable Sativa 150mg</h2>
      <p>
        <b>PD: </b> 06/04/2018
        <b>PA: </b> $40
        <b>QTY: </b> 26 </p>
    </button>

    <button ion-item>
      <h2>5 - Nothern Standard Disposable 250mg </h2>
      <p>
        <b>PD: </b> 06/04/2018
        <b>PA: </b> $25
        <b>QTY: </b> 13 </p>
    </button>


    <button ion-item>
      <h2>6 - Wana Indica Gummies 100mg </h2>
      <p>
        <b>PD: </b> 06/05/2018
        <b>PA: </b> $40
        <b>QTY: </b> 26 </p>
    </button>

  </ion-list>

</ion-content>